*.DS_Store
.DS_Store
*thumbs.db
thumbs.db
wp-admin/
wp-includes/
wp-*.php
index.php
license.txt
xmlrpc.php
wp-content/
!wp-content/plugins/laserhub-building-block
!wp-content/themes/Divi-Child
docker-compose.yml
theme
mysql
