*.DS_Store
.DS_Store
*thumbs.db
thumbs.db
index.php
license.txt
xmlrpc.php
mysql
*.sh

# Ignore general wordpress files
wp-admin/
wp-includes/
wp-*.php

# Ignore everything in wp-content/ except for the Divi-Child theme and
# the building blocks plugin
wp-content/*
!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/laserhub-building-block
!wp-content/plugins/wp-sync-db-master
!wp-content/plugins/wp-sync-db-media-files-master
!wp-content/themes
wp-content/themes/*
!wp-content/themes/Divi-Child
